<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  {{ partial "head/head.html" . }}
  {{ if eq .Kind "home" -}}
    {{ .Scratch.Set "class" "home" -}}
  {{ else if eq .Kind "404" -}}
    {{ .Scratch.Set "class" "error404" -}}
  {{ else if eq .Kind "page" -}}
    {{ .Scratch.Set "class" .Type -}}
    {{ .Scratch.Add "class" " single" -}}
  {{ else -}}
    {{ .Scratch.Set "class" .Type -}}
    {{ .Scratch.Add "class" " list" -}}
  {{ end -}}
  <body class="{{ .Scratch.Get "class" }}">
    {{ partial "header/header.html" . }}
    <div class="wrap container-xxl" role="document">
      <div class="content">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
    {{ block "sidebar-prefooter" . }}{{ end }}
    {{ block "sidebar-footer" . }}{{ end }}
    {{ partial "footer/footer.html" . }}
    {{ partial "footer/script-footer.html" . }}
<script defer data-domain="solanaguide.github.io" src="https://plausible.io/js/plausible.js"></script>
<script>window.upsettings = {'api_key':'9404f308-bc6c-4f8b-8f7d-cd08ca710fc5'}</script><script>(function(){var w=window;var up=w.Upscribe;if(typeof up==='function'){up('reattach_activator');up('update',upsettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Upscribe=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://upscri.be/js/snippet.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if( w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
<script>
  if (typeof document.getElementById('vue-app') === 'object') {

    new window.Vue({
      el: '#app',

      components: {
        'calculator': window.httpVueLoader('/js/calculator.vue')
      },
    })
  }
</script>
<script async src="//static.getclicky.com/100961864.js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100961864ns.gif" /></p></noscript>
  </body>
</html>
