
<div class="alert alert-warning" icon="💡">
  <div class="p-3 text-center">

    ### Today's Recommended Validator: [EcoStake.one](https://ecostake.one)

    Vote account:

    ```bash
    GREENr9zSeapgunqdMeTg8MCh2cDDn2y3py1mBGUzJYe
    ```
    We're trying to highlight quality smaller validators where you can get good returns while helping decentralize Solana.
    Today we're promoting Ecostake, because:

    - It donates its rewards to climate change
    - It charges just 3% commission
    - Low stake and datacentre concentration

  </div>
</div>
